<% layout("/layouts/boilerplate") %>
<div class="row"> 
    <h1 class="col-6 offset-3">SignUp for Wonderlust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation novalidate">


         <div class="md-3">  
            <label for="username" class="form-label">Username</label>
            <input name="username" placeholder="Enter Username" type="text" class="form-control" required id="username"/>
            <div class="valid-feedback">Looks good</div>
        </div>
    




        <div class="md-3">  
            <label for="Email" class="form-label">Email</label>
            <input name="Email" placeholder="Enter Email" type="text" class="form-control" required id="Email"/>
        </div>



          <div class="md-3">  
            <label for="password" class="form-label">password</label>
            <input name="password" placeholder="Enter password" type="password" class="form-control" required id="password"/>
        </div>
        <br>
        

        <button class="btn btn-success">SignUp</button>
        


        

        </form>

        </div>

        </div>